*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #acd5de;
}
#section1{
    height:100%;
}
.navbar { 
  padding-top: 30px;
  display: flex;
  }
.links {
  padding-top:30px;
  padding-left: 700px;
  display: flex;
  list-style-type: none; 
}
.links button{
  
  padding: 5px 20px; 
  font-size: 18px;
  border: transparent;
  color:#1a4e8d;
  border-radius: 30px;
}
.logo{
  padding:20px;
  padding-left: 40px;
}
.logo img{
  width:50px; 
  height:50px;
}
.logotxt{
  color:#1a4e8d;
  padding-top:30px;
  font-size:28px ;
}
nav .links li a {
  display: flex;
  color:#1a4e8d;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 5px 20px;   
  font-size: 18px; 
  }
.profileicon{
  
    width:30px;
    height:30px;
}
nav .links li a:hover{
  background-color:#1a4e8d;
  color:white;
  border-radius: 20px;
}
  .serviceheading{
    padding-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#1a4e8d;
    font-size:40px;
    padding-bottom: 80px;
  }
  .service{
    background-color: #ffffff;
    margin-left:20%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    width:870px;
    height:64px; 
    color:#1a4e8d;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .service{
    h1{
        width:200px;
    }
    p{  
        padding-top: 0;
        padding-right: 20px;;
    }
    .btn{
        padding:10px 20px;
        border-radius: 30px;
        color:#ffffff;
        background-color: #1a4e8d;
    }
  }

  #section2{
    background-color: #ffffff;
    height:40vh;
  }
  .outer{
    display: flex;
    padding:40px;
    margin-left: 30px;
  }
  .footer{
    display: flex;
    margin-left:10px;
  }
  .footer .con{
    color:#1a4e8d;
    margin-left: 200px;
  }
  .con h3 p{
    
    font-size:20px ;
  }
  hr{
    width:90%;
    color:4px solid #1a4e8d;
    margin-left:100px;
  }
  .last{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
  }

  .chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-button a {
    padding: 15px 30px;
    background-color: #d1f6ff;
    color:#1a4e8d;
    font-size: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-button a:hover {
    background-color: #99cbe0;
}
  